#box{
    display: grid;
    grid-template-areas:
    " h h h"
    " a b c";
    grid-template-rows:auto auto auto;
    grid-template-columns: auto,auto;
}
#inf{
    display: grid;
    grid-area: a;
    place-content: center;
    background-color: #e5e5eb;
    border:px solid #e2e1ef;
    margin: 10px;
    border-radius:  20px;
    padding: 30px;
    font-size: 13px;
    


}
#infiteh{
    display: grid;
    grid-area: b;
    place-content: center;
    background-color: #e5e5eb;
    border:px solid #e2e1ef;
    margin: 10px;
    border-radius:  20px;
    padding: 30px;
    font-size: 13px;


}
#baze{
    display: grid;
    grid-area: c;
    place-content: center;
    background-color: #e5e5eb;
    border:px solid #e2e1ef;
    margin: 10px;
    border-radius:  20px;
    padding: 30px;
    font-size: 13px;



}
button{
 border-radius: 4px;
  height: 40px;
  font-size: 13px;
  text-transform: uppercase;
  
  padding: 0 30px;
  letter-spacing: 1px;
  
  align-items: center;
  background-color: #dfdbcb;
  color: #000000;
  margin: 20px;
}
h1{
    font-size: 18px;
    text-transform: uppercase;
    
    padding: 0 30px;
    letter-spacing: 1px;

}